body {
  font-family: 'Roboto';
  background: #36393F;
  color: white;
  margin: 0;
  padding: 0;
}
.navbar {
  background: #36393F;
  margin: 0;
  padding: 20px 0 0 0;
  border-bottom: 1px solid #2B2D32;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 20px 0 0;
}

main {
  border-top: 1px solid #32353A;
}